<div class="container"><br>
  <h1 class="heading">Edit Your Profile</h1><br>
  <div class="edit-profile-form">
    <%= form_for(@user, url: user_path(@user), method: :patch) do |f| %>
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control custom" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control custom" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control custom" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control custom" %>
      </div>
      <br>
      <div class="edit-actions">
        <%= f.submit "Update", class: "btn btn-outline-primary accent-color" %>
        <%= button_tag t('buttons.cancel'), type: "submit", name: "edit-sub-cancel", value: true, class: "btn btn-outline-danger accent-color" %>
      </div>
    <% end %>
  </div>
</div>
