<div class="container" style="background-image: url('/assets/bckg8.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
  <h1 class="heading">Edit Your Profile</h1>
  <div class="edit-profile-form">
    <%= form_for(@user, url: user_path(@user), method: :patch) do |f| %>
      <div class="form-group">
        <div class="form-floating">
          <%= f.text_field :first_name, class: "form-control custom", value: '', placeholder: "" %>
          <%= f.label :first_name, class: "form-label" %>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="form-floating">
          <%= f.text_field :last_name, class: "form-control custom", value: '', placeholder: "" %>
          <%= f.label :last_name, class: "form-label" %>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="form-floating">
          <%= f.password_field :current_password, class: "form-control custom", placeholder: "" %>
          <%= f.label :current_password, class: "form-label" %>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="form-floating">
          <%= f.password_field :new_password, class: "form-control custom", placeholder: "" %>
          <%= f.label :new_password, class: "form-label" %>
        </div>
      </div>
      <br>
      <div class="edit-actions">
        <%= f.submit "Update", class: "btn btn-outline-primary accent-color" %>
        <%= button_tag t('buttons.cancel'), type: "submit", name: "edit-sub-cancel", value: true, class: "btn btn-outline-danger accent-color" %>
      </div>
    <% end %>
  </div>

  <div class="flash">
    <% if flash[:notice].present? %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
  
    <% if flash[:alert].present? %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
</div>