<!-- app/views/home/index_logged_in.html.erb -->
<%= stylesheet_link_tag 'user' %>
<div class="container">
  <h1>Welcome <%= current_user.first_name %>,</h1>
  <p>You are now logged in to RecurrEx. Here are some options you can explore:</p>
  <!-- Display categories with current subscriptions-->
<div class="categories">
  <h2>Recent Subscriptions</h2>
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Subscription Name</th>
        <th>Date</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <% subscriptions = category.subscriptions.sort_by { |subscription| subscription.transaction_date }.reverse %>
        <% subscriptions.each do |subscription| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= subscription.name %></td>
            <td><%= subscription.transaction_date&.strftime('%Y-%m-%d') || 'N/A' %></td>
            <td>$<%= subscription.cost %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
  <!-- Display some user-specific information or data here -->
  <div class="user-data">
    <h2>Your Data</h2>
    <p>Here, you can display personalized data or information relevant to the user.</p>
  </div>
</div>
<script src="darkmode.js"></script>
</body>
</html>
