<!-- app/views/home/index_logged_in.html.erb -->


<%= stylesheet_link_tag 'user' %>


<div class="container">
  <h1>Welcome <%= current_user.first_name %>,</h1>
  <p>You are now logged in to RecurrEx. Here are some options you can explore:</p>
  <!-- Display categories with current subscriptions-->
  
  <div class="col-md-4">
     <h2>Your Categories</h2>
    <ul>
      <% @categories.each do |category| %>
        <% user_subscriptions_in_category = @user_subscriptions.where(category_id: category.id) %>
          <% if user_subscriptions_in_category.any? %>
            <li><%= category.name %></li>
            <ul>
              <% user_subscriptions_in_category.each do |subscription| %>
                <li><%= subscription.name %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
    </ul>
  </div>
  <!-- Display user-specific content or actions here -->
  <div class="user-actions">
    <h2>Your Actions</h2>
    <ul>
      <li><%= link_to 'Manage Your Subscriptions', subscriptions_path %></li>
      <li><%= link_to 'Edit Your Profile', edit_user_path(current_user) %></li>
      <li><%= link_to 'View Messages', '#' %></li>
    </ul>
  </div>
  <!-- Display general information or actions here -->
  <div class="general-actions">
    <h2>General Actions</h2>
    <ul>
      <li><%= link_to 'Explore More Features', '#' %></li>
      <li><%= link_to 'Contact Support', '#' %></li>
    </ul>
  </div>

  <!-- Display some user-specific information or data here -->
  <div class="user-data">
    <h2>Your Data</h2>
    <p>Here, you can display personalized data or information relevant to the user.</p>
  </div>
</div>
<script src="darkmode.js"></script>
</body>
</html?
