<div class="container edit-subscription">
  <br>
  <h1 class="heading">EDIT SUBSCRIPTION</h1>
  <br>
  <%= form_for @subscription do |f| %>
    <% if @subscription.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @subscription.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="edit-form">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control custom" %><br>
      </div>
      <div class="form-group">
        <%= f.label :cost %>
        <%= f.text_field :cost, class: "form-control custom" %><br>
      </div>
      <div class="form-group">
        <%= f.label :frequency %>
        <%= f.select :frequency, %w[Weekly Monthly Yearly], { include_blank: 'Select a Frequency' }, { class: 'form-select custom' } %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :category_id %>
        <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: 'Select a Category' }, { class: 'form-select custom' } %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :subscription_start_date %>
        <%= f.date_field :start_date, class: "form-control custom" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :renewal_date %>
        <%= f.date_field :renewal_date, class: "form-control custom" %>
      </div>
      <br>
      <div class="edit-actions">
        <%= f.submit "Update Subscription", class: "btn btn-outline-primary accent-color" %>
        <%= button_tag t('buttons.cancel'), type: "submit", name: "cancel", value: true, class: "btn btn-outline-danger accent-color" %>
      </div>
    </div>
  </div>
<% end %>
</div>