<h1>Edit Subscription</h1>

<%= form_for @subscription do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
        <% @subscription.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>

  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %><br>
  </div>

  <div class="field">
    <%= f.label :renewal_date %><br>
    <%= f.date_field :renewal_date %><br>
  </div>

  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.text_field :frequency %><br>
  </div>

  <div class="actions">
    <%= f.submit "Update Subscription" %>
  </div>
<% end %>
