<%= form_with(model: @subscription, local: true) do |form| %>
  <%= form.hidden_field :authenticity_token, value: form_authenticity_token %>
<% end %>
<h1>Current Subscriptions</h1>
<table>
  <thead>
    <%= javascript_include_tag 'rails-ujs' %>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Frequency</th>
      <th>Start Date</th>
      <th>Renewal Date</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.name %></td>
        <td><%= subscription.cost %></td>
        <td><%= subscription.frequency %></td>
        <td><%= subscription.start_date %></td>
        <td><%= subscription.renewal_date %></td>
        <td><%= subscription.category.name %></td>
        <td>
          <%= link_to 'Edit', edit_subscription_path(subscription) %>
          <%= link_to 'Delete', subscription, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
